body {
  background-color:rgb(120, 135, 211);
  /* The html and body elements cannot have any padding or margin. */
}

input {
  border-radius: 5px;
}
#foodItem{
  background-color:rgba(172, 172, 219, 0.57);
  width:95%;
  padding-right: 60px;
  border-radius: 10px;
  margin: 12px;
  padding: 10px 10% 10px 10%;
  border:1px solid white;
  float:left;
  display:block;
}

#foodItem label{
margin-right: 5px;
min-width:10%;
}

.addFoodLogItem button.btn.btn-default{
  white-space: normal;
  min-width:100%;
}

#foodItem input{
  float:left;
  clear:right;
}

#foodItem label {
  float:left;
  clear:left;
  min-width:70px;
}

#foodItem span{
  min-width:75%;
}

#foodItem span input{
  min-width: 100%;
  border-radius:5px;
}

#foodItem .btn{
  min-width:50%;
  float:left;
  clear:both;
  font-size: 18px;
  margin: 10px;

}
.jumbotron{
  text-align: center;
  background-color: rgba(238, 238, 238, 0.82);
}

#sidebar{
  background-color: rgba(202, 204, 209, 0.71);
  border: 5px solid rgb(216, 169, 218);
  text-align:center;
}

#sidebar button {
  margin:5px 0px 5px 0px;
  padding-bottom: 10px;
  padding-top:10px;
}

#sidebar .list-group{
  padding: 10px 0px 10px 0px;
  border-bottom:1px solid white;
  border-radius:0px;

}
form {
  background-color: rgb(194, 193, 193);
  padding:20px;
}

#mood{
  background-color:rgb(120, 135, 211);
  margin-bottom:10px;
  border:1px solid white;
}

#output{
  background-color:rgb(120, 135, 211);
  border:1px solid rgb(216, 169, 218);
  margin-bottom:10px;
  padding:5px;
}

#mood .btn{
  min-width:80%;
}

.data {
  display:none;
}