/* Resume Styles
______________________________________*/
#resumePicture{
  border-radius:50%;
  height:250px;
  border:5px solid grey;
}

#resume {
  background-color:white;
  width:920;
  padding:20px;

}

#resume * {
  font-family:"Times New Roman";
}