body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

.albumThumb {
  margin:5px;
  box-shadow: 5px 5px 10px rgba(24, 37, 24, 0.78);
  width:200px;
  height:200px;

}

.albumThumb:hover {
  box-shadow: 3px 3px 5px rgba(24, 37, 24, 0.78);
}

#galleryBody {
  background-color:gainsboro;
  padding: 10px;
  margin-top:20px;
  border:solid rgba(2, 46, 9, 0.2);
  border-radius:5px;
  margin-bottom: 20px
}

#galleryBody a {
  text-decoration: none;
}

.mainDrawing {
  width:100%;
  height:100%;
}

#paginator {
  margin:0px auto;
}

.pageWrapper{
  text-align: center
}

#foodItem{
  background-color:rgba(172, 172, 219, 0.57);
  border-radius: 10px;
  margin: 12px;
  padding: 10px 10% 10px 10%;
  border:1px solid white;
}

label{
margin-right: 5px;
min-width:45%;
}

.addFoodLogItem button.btn.btn-default{
  white-space: normal;
  min-width:100%;
}

#foodItem input{
  margin-left: 10px;
}

#foodItem span{
  float:left;
  min-width:70px;
}

#foodItem .btn{
  min-width:40%;
}
.jumbotron{
  text-align: center;
  background-color: rgba(238, 238, 238, 0.82);
}

#sidebar{
  background-color: rgba(202, 204, 209, 0.71);
  border: 5px solid rgb(216, 169, 218);
  text-align:center;
}

#sidebar button {
  margin:5px 0px 5px 0px;
  padding-bottom: 10px;
  padding-top:10px;
}
form {
  background-color: rgb(194, 193, 193);
  padding:20px;
}

#mood{
  background-color:rgb(120, 135, 211);
  margin-bottom:10px;
  border:1px solid white;
}

#output{
  background-color:rgb(120, 135, 211);
  border:1px solid rgb(216, 169, 218);
  margin-bottom:10px;
  padding:5px;
}

#mood .btn{
  min-width:80%;
}

#weatherContainer{
  background-color:rgba(255,255,255,.9);
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  margin:0;
  background-color:rgb(120, 135, 211);
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 40px;
  background-color: #3A3A3A;
  text-align: center;
  padding-top:10px;
  position:fixed;
  bottom:0px;
  display:block;
  width:100%;
}

#footer p {

}

.main-content{
  min-height: 600px;
}

/* Data Tracker Styles 
______________________________________*/
#graphDisplay button{
  margin:10px 10px 10px 10px;
  width: 80%;
}

#graphDisplay{
  background-color:rgb(255,255,255);
  border:1px solid black;
}

#graphDisplay .col-md-2
{
  text-align: center;
  padding-top:20px;
}
